* {
    font-family: 'Lucida Sans', "Courier New", sans-serif;
    text-align: center;
    color: #ccc;
}
body{
    background: linear-gradient(#333333, #223355);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    list-style: none;
    margin: 0 auto;
    padding: 5px 0;
    width: 350px;
    background-color: #333333;
}
img{
    height: 350px;
    width: auto;
    margin: 25px 0;
    opacity: 0.6;
}